*,
::before,
::after {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  letter-spacing: 0.25px;
  line-height: 1.4;
  background-color:rgb(241,245,248);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}


img {
  max-width:100%;
  max-height:100%;
  object-fit: cover;
  object-position: center center;
  border:4px solid #C59D5F;
  border-radius: 5px;
}



.container {
  width:80%;
  margin:0 auto;
}

.container-heading {
  margin:3rem 0 1.5rem 0;
  text-align: center;
  font-size: 2.5rem;
}

.food-types {
  margin:0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.food-type {
  padding:0.5rem 1rem;
  margin:0 0.5rem;
  border-radius: 5px;
  color:#C59D5F;
  font-weight: 500;
}

.food-type:hover {
  background-color: #C59D5F;
  color:#fff;
  cursor: pointer;
}

.menu-items {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item {
  margin:1rem 0;
  display:grid;
  grid-template-columns: 300px 1fr;
  grid-column-gap: 1rem;
}

.item__header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.item__header__title {
  font-size: 1.25rem;
}

.item__header__price {
  color:#C59D5F;
}

.item__header__text {
  max-width:60ch;
}

/*mobile*/
@media (max-width:700px) {
  .menu-item  {
    grid-template-columns:initial;
    grid-column-gap: 0rem;
    grid-template-rows: auto auto;
    grid-row-gap: 1rem;
  }

  .item__header {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.25rem;
  }
}